In [1]:
import pandas as pd
import numpy as np

In [2]:
thinkful = pd.read_csv('APCThinkful.csv', encoding='latin1')

In [3]:
#change last column to Cost in Euros
thinkful = thinkful.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'cost_in_GBP'})

In [4]:
#remove the GBP and $ symbols from columns and converted them into floats 
thinkful['cost_in_GBP'] = thinkful['cost_in_GBP'].apply(lambda x: str(x).replace('£', ''))
thinkful['cost_in_GBP'] = thinkful['cost_in_GBP'].apply(lambda x: str(x).replace('$', ''))
thinkful['cost_in_GBP'] = thinkful['cost_in_GBP'].apply(lambda x: float(x))

In [5]:
#capitalize every letter in the journal title for conistency
thinkful['Journal title'] = thinkful['Journal title'].apply(lambda x: str(x).upper())

In [6]:
#find the 5 most common journals 
list_slice = thinkful.groupby(['Journal title']).size().sort_values(ascending=False)[:5]
list_slice

Journal title
PLOS ONE                           190
JOURNAL OF BIOLOGICAL CHEMISTRY     53
NEUROIMAGE                          29
PLOS PATHOGENS                      24
PLOS GENETICS                       24
dtype: int64

In [28]:
journals = list_slice.index
plos = thinkful.loc[thinkful['Journal title'] == 'PLOS ONE']
plos = plos[plos.cost_in_GBP < 10000]
jobc = thinkful.loc[thinkful['Journal title'] == 'JOURNAL OF BIOLOGICAL CHEMISTRY']
jobc = jobc[jobc.cost_in_GBP < 10000]
neuroimage = thinkful.loc[thinkful['Journal title'] == 'NEUROIMAGE']
neuroimage = neuroimage[neuroimage.cost_in_GBP < 10000]
pathogens = thinkful.loc[thinkful['Journal title'] == 'PLOS PATHOGENS']
pathogens = pathogens[pathogens.cost_in_GBP < 10000]
genetics = thinkful.loc[thinkful['Journal title'] == 'PLOS GENETICS']
genetics = genetics[genetics.cost_in_GBP < 10000]
top_five_journals = [plos, jobc, neuroimage, pathogens, genetics]

In [33]:
def journal_stats(journal_list):
    new_list = []
    for x in journal_list:
        mean = x['cost_in_GBP'].mean()
        median = x['cost_in_GBP'].median()
        std = np.std(x['cost_in_GBP'], ddof=1)
        new_list.append([mean, median, std])
    return new_list

stats = journal_stats(top_five_journals)
stats = pd.DataFrame(stats)
stats.index = ['PLoS One', 'JOURNAL OF BIOLOGICAL CHEMISTRY', 'Neuroimage', 'Pathogens', 'Genetics']
stats.columns = ['Mean', 'Median', 'Standard Deviation']
stats

                                        Mean    Median  Standard Deviation
PLoS One                          934.655824   896.975          201.847589
JOURNAL OF BIOLOGICAL CHEMISTRY  1423.588462  1301.140          411.954360
Neuroimage                       2215.168276  2326.430          266.653947
Pathogens                        1572.866818  1600.250          161.780891
Genetics                         1643.110909  1712.730          153.366825