In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
bradys = pd.DataFrame()
bradys['names'] = ['Greg', 'Marsha', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Cousin Oliver']
bradys['ages'] = [14, 12, 11, 10, 8, 6, 8]
bradys

           names  ages
0           Greg    14
1         Marsha    12
2          Peter    11
3            Jan    10
4          Bobby     8
5          Cindy     6
6  Cousin Oliver     8

In [3]:
print(np.mean(bradys['ages']))
print(np.median(bradys['ages']))
print(statistics.mode(bradys['ages']))
print(bradys['ages'].var())
print(np.std(bradys['ages']))
print(np.std(bradys['ages']) / np.sqrt(len(bradys['ages'])))

9.85714285714
10.0
8
7.47619047619
2.53143502095
0.956792503652

2. I would pick the mean and standard deviation. The average age of the Brady kids is around 10, and there are about 2 and a half years between the kids on average.

In [4]:
bradys['ages'] = bradys['ages'].replace(6, 7)

In [6]:
print(np.mean(bradys['ages']))
print(np.median(bradys['ages']))
print(statistics.mode(bradys['ages']))
print(bradys['ages'].var())
print(np.std(bradys['ages']))
print(np.std(bradys['ages']) / np.sqrt(len(bradys['ages'])))

10.0
10.0
8
6.33333333333
2.32992949004
0.880630571853

In [8]:
bradys['names'] = ['Greg', 'Marsha', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']
bradys['ages'] = [14, 12, 11, 10, 8, 7, 1]
print(np.mean(bradys['ages']))
print(np.median(bradys['ages']))
print(bradys['ages'].var())
print(np.std(bradys['ages']))
print(np.std(bradys['ages']) / np.sqrt(len(bradys['ages'])))

9.0
10.0
18.0
3.92792202425
1.48461497792

In [9]:
np.mean([20, 23, 17])

20.0